.champLettre{
    width: 100%;
    background-color: #6b6b6b;
    border-style: none;
    color: white;
    font-size: 2em;
    text-align:center;
    caret-color: transparent;
}
.champLettre:focus{
    outline:none;
}